.orders-page {
 direction: rtl;
}

/* ========== Tabs ========== */
.tabs-row {
  display: flex;
  gap: 10px;
    margin-top: 20%;

  margin-bottom: 25px;
  /* padding-top: 15%; */
}

.tab {
  padding: 10px 22px;
  border-radius: 30px;
  background: #fff;
  color: #1D3A77;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  text-decoration: none;
}

.tab.active {
  background: #1D3A77;
  color: #fff;
}

/* ========== Order Card ========== */
.order-mobile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 24px 18px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
    border: 1px solid #eaeaea;
    margin-bottom: 8%;
}

/* ========== Image ========== */
.order-mobile-img {
  width: 95px;
  height: 95px;
  border-radius: 12px;
  object-fit: cover;
}

/* ========== Text Section ========== */
.order-mobile-content {
  flex: 1;
  padding-right: 15px;
}

.order-mobile-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.order-mobile-desc {
     font-size: 20px;
    color: #9E9E9E;
    margin: 5px 0 15px;
    font-weight: 400;
}

/* ========== Bottom Row ========== */
.order-bottom-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.order-type {
font-weight: 500;
    font-size: 17px;
    color: #555;
}
.order-badge {
background: #9e9e9e8c;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;

}

.order-price {
  margin-right: auto;
  color: #E55F1A;
  font-size: 17px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .order-mobile-card {
    margin-top: 100%;
  }
  .order-mobile-img {

    margin-top: 81%;
}
/* .cards-wrapper{
margin-top: 79%;
    margin-bottom: 20%;
} */

}
@media screen and(max-width:767px) {
  .orders-page {
    padding-top: 81%;
}

}