/* ================= MAIN NAVBAR ================== */

.tn-nav-main {
  background: #1d3a77;
  padding: 14px 20px;
  width: 100%;
  position: fixed;
  top: 81px;
  left: 0;
  z-index: 9999;
  height: 75px;
  display: flex;
  align-items: center;
}

.tn-nav-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tn-buttons-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tn-nav-app-btn {
  background: linear-gradient(90deg, #000000, #91b4ff);
  color: #fff;
  border-radius: 33px;
  padding: 8px 20px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.tn-nav-logout-small {
  background: #ed3a3a;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* =============== LINKS =============== */

.tn-nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  direction: rtl;
}

.tn-nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.tn-nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: #fff;
}

/* =============== HAMBURGER =============== */

.tn-nav-hamburger {
  display: none;
  font-size: 26px;
  color: #fff;
  background: none;
  border: none;
}

/* ================= MOBILE FIX ================= */

@media (max-width: 480px) {
  /* .tn-nav-main {
    padding: 8px 12px;
    height: 60px;
    top: 80px;
  } */

  .tn-buttons-box {
    gap: 6px;
  }

  .tn-nav-app-btn,
  .tn-nav-logout-small {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 18px;
  }

  .tn-nav-hamburger {
    display: block;
    font-size: 24px;
  }

  .tn-nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #10397a;
    flex-direction: column;
  }

  .tn-nav-links.open {
    display: flex;
  }

  .tn-nav-link {
    padding: 12px;
    text-align: center;
  }

  .tn-nav-sidebar {
    width: 260px;
  }
}

/* ================= SIDEBAR ================= */

.tn-nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.tn-nav-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.tn-nav-sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 10001;
  padding: 20px;
  transition: 0.4s;
  direction: rtl;
}

.tn-nav-sidebar.open {
  left: 0;
}

.tn-nav-close-sidebar {
  background: none;
  border: none;
  font-size: 26px;
}

.tn-nav-sidebar-links li {
  padding: 14px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tn-nav-sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.tn-nav-logout-btn {
  width: 100%;
  background: #ed3a3a;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  margin-top: 25px;
}
.tn-nav-logout-icon {
  background: none;
  border: none;
  color: #e74c3c;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.tn-nav-logout-icon svg {
  font-size: 18px;
}

.tn-nav-logout-icon:hover {
  color: darkred;
}
@media screen and (max-width: 767px) {
  .tn-nav-logout-icon svg {
    font-size: 26px;
  }
  .nav-logout {
    font-size: 18px;
  }
}
