/* ===== PAGE LAYOUT ===== */
.mmarketing-page {
  width: 100%;
  display: flex;
  justify-content: center;
  direction: rtl;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: #fff;
}

/* ===== SIDEBAR ===== */
.m-marketing-sidebar {
    width: 26%;
    display: flex;
    flex-direction: column;
  gap: 18px;
}

.side-btn {
  display: flex;
  align-items: center;
  text-decoration: none;   /* يشيل الخط */
  color: inherit;          /* يخلي اللون زي ما هو */
}


/* زر عادي */
.side-btn.white {
  background: #fff;
  color: #000;
}

/* الزر النشط */
.side-btn.active {
  background: #0C3B85;
  color: #fff;
  border-color: #0C3B85;
}

/* تسجيل خروج */
.side-btn.logout {
  background: #D21F25;
  color: #fff;
  border-color: #D21F25;
}

/* تصغير أيقونات */
/* .side-btn img {
  width: 26px;
} */

/* ===== MAIN CONTENT ===== */
.marketing-content {
  max-width: 700px;
  text-align: center;
      margin-top: 8%;

}

.marketing-logo {
  width: 260px;
  margin: 0 auto 25px auto;
}

.marketing-text {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
  color: #000;
}

.marketing-main-btn {
    width: 85%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: #0C3B85;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.marketing-main-btn:hover {
  background: #08285D;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .marketing-page {
    flex-direction: column;
    align-items: center;
  }

  .marketing-sidebar {
    width: 90%;
  }

  .marketing-main-btn {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .m-marketing-sidebar {
    width: 100%;
  }

  .marketing-text {
    font-size: 22px;
    line-height: 32px;
  }

  .marketing-logo {
    width: 180px;
  }

  .marketing-main-btn {
    width: 95%;
  }
}
