.services-section .container{
      max-width: 93%;
    margin: auto;
    padding: 0 20px;
    direction: rtl;
    font-size: 30px;
    font-weight: bold;

}
.services-section {
  direction: rtl;
  padding: 50px 0;
  margin-bottom: 60px;   
}

/* عنوان */
.section-title {
 font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: right;
}

.services-row {
    display: flex;
    justify-content: flex-start;
    gap: 38px;
    flex-wrap: wrap;
    /* width: 95%; */
    padding-top: 1%;
}

.service-card {
    width: 330px;
  background: #F3F4F6;
  padding: 35px 20px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.3s;
  text-decoration: none;
}
.service-card i{
      /* height: 50px; */
    font-size: 32px;

}
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.service-icon {
  font-size: 45px;
  color: #0A2A57;
  margin-bottom: 15px;
}

.service-card h3 {
    font-size: 27px;
    margin-bottom: 12px;
    text-decoration: none;
    color:#212529

}

.view-btn {
background: #fff;
    border: 1px solid #ccc;
    padding: 8px 22px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 3%;
}
/* موبايل */
@media (max-width: 576px) {
  .services-row {
    gap: 15px;
  }

  .service-card {
  
        width: 78%;
    background: #F3F4F6;
    padding: 35px 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: 0.3s;
    text-decoration: none;
    margin: auto;
  }

}
