/* ========== GENERAL ========== */
.canceled-page {
  direction: rtl;
}

.corders-wrapper {
  margin-top: 17%;
}

/* ========== THE CARD ========== */
.canceled-card {
  background: #fff;
  padding: 0px 20px 20px 0px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  align-items: center;
  height: 22vh;
  cursor: pointer;
}

/* LEFT SIDE */
.canceled-left {
  position: absolute;
  left: 20px;
  top: 15px;
  text-align: left;
}
  
.canceled-status {
    background: #DD0C0C;
    color: #fff;
    width: 21%;
    padding: 18px 12px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    float: left;
}

.canceled-price {
  color: #F38B1B;
  font-weight: bold;
  font-size: 18px;
  margin-top: 45px;
}

/* RIGHT SIDE */
.canceled-content {
  width: 100%;
  padding-right: 10px;
}

.canceled-image-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.canceled-image-box img {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

/* TEXT */
.canceled-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.canceled-desc {
  color: #9e9e9e;
  margin: 0;
  font-size: 16px;
}

.canceled-meta {
  margin-top: 5px;
  color: #444;
  font-size: 15px;
}

.qty {
  background: #1D3A7733;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 8px;
}

.type {
  font-size: 16px;
  color: #000;
  margin-right: 8px;
}
.image-side {
  display: flex;
  align-items: center;
  gap: 20px;
  height: auto !important;   /* ← صلحنا المشكلة هنا */
}
.image-side img {
  width: 90px;
  height: 90px;       /* ← رقم ثابت يخلي الصورة كاملة */
  object-fit: cover;
  border-radius: 12px;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
  .canceled-card {
    height: auto;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .canceled-left {
    position: static;
    margin-bottom: 10px;
  }

  .canceled-image-box img {
    width: 70px;
    height: 70px;
  }

  .canceled-title {
    font-size: 18px;
  }

  .canceled-desc {
    font-size: 14px;
  }

  .qty,
  .type {
    font-size: 13px;
  }
  
}
