/* ===================== SLIDER BACKGROUND IMAGES ===================== */

/* slide1 = الصورة الحالية لديكم */
.slide1 {
  background-image: url("../../assets/customerbanner.jpg");
}

/* slide2 = صورة موضة جاهزة من Unsplash */
.slide2 {
  background-image: url("../../assets/electronicsbanner.jpg");
}
.slide3 {
  background-image: url("../../assets/gamesbanner.jpg");
}
/* slide3 = صورة منتجات جميلة من Unsplash */
.slide4 {
  background-image: url("../../assets/furniturebanner.jpg");
}

.slide5 {
  background-image: url("../../assets/marketbanner.jpg");
}
.slide6 {
  background-image: url("../../assets/kitchenbanner.jpg");
}

/* ===================== HERO MAIN LAYOUT ===================== */

.hero-container {
  position: relative;
  display: flex;
  height: 510px;
  width: 100%;
  overflow: hidden;
}

.hero-wrapper {
  margin-top: 160px;
}

.hero-left {
  display: none;
  flex: 1.3;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #dcc7a8;
  transition: background-image 0.6s ease-in-out;
}

.hero-right {
  flex: 1;
  background-color: #dcc7a8;
  direction: rtl;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* ===================== TAG ===================== */

.hero-tag {
  width: 80%;
  background: #1d3a771a;
  padding: 10px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  font-weight: 400;
}

/* ===================== TEXT ===================== */

.hero-heading {
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0 10px;
  color: #000;
}

.web-order {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #000;
}

/* ===================== BUTTON ===================== */

.shop-btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  background: #1d3a77;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 22px;
  padding: 6px 14px;
}
.btn-text {
  font-size: 19px;
  margin: 0;
}

/* ===================== RATING ===================== */

.home-rating {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

/* Avatar stack */
.icons-stack {
  display: flex;
  align-items: center;
  position: relative;
}
.icons-stack img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-left: -15px;
}

/* ORDER */
.img-1 {
  z-index: 3;
}
.img-2 {
  z-index: 2;
}
.img-3 {
  z-index: 1;
}

.plusicon {
  width: 48px;
  height: 48px;
  background: #1d3a77;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

/* ===================== SLIDER ARROWS ===================== */

.slide-arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #1d3a77;
  color: #fff;
  border: none;
  width: 45px;
  height: 45px;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.slide-arrow:hover {
  background: #142a57;
}

.slide-arrow.right {
  right: 20px;
}

.slide-arrow.left {
  left: 20px;
}
.offers-banner {
  width: 100%;
  height: 360px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 2px;
}

.offers-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* يمنع البكسلة والتمدد */
  display: block;
}

.products-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

@media (min-width: 768px) {
  /* ===================== HERO MAIN LAYOUT ===================== */

  .hero-container {
    height: 500px;
  }

  .hero-wrapper {
    margin-top: 140px;
  }

  .hero-left {
    display: flex;
  }

  .hero-right {
    align-items: start;
  }

  /* ===================== TAG ===================== */

  .hero-tag {
    width: 70%;
  }

  /* ===================== TEXT ===================== */

  .hero-heading {
    font-size: 32px;
  }

  .web-order {
    font-size: 20px;
  }

  /* ===================== BUTTON ===================== */

  .shop-md-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #1d3a77;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    padding: 11px 74px;
  }
  .btn-text {
    font-size: 14px;
  }

  /* ===================== RATING ===================== */

  .home-rating {
    justify-content: start;
    gap: 25px;
  }

  /* ===================== SLIDER ARROWS ===================== */

  .slide-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products-info {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  /* ===================== HERO MAIN LAYOUT ===================== */

  .hero-container {
    height: 550px;
  }

  .hero-wrapper {
    margin-top: 150px;
  }

  .hero-left {
    display: flex;
  }

  .hero-right {
    padding: 85px 60px;
    justify-content: start;
  }

  /* ===================== TAG ===================== */

  .hero-tag {
    width: 55%;
    background: #1d3a771a;
    padding: 10px 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    font-weight: 400;
  }

  /* ===================== TEXT ===================== */

  .hero-heading {
    font-size: 45px;
    font-weight: bold;
    margin: 25px 0 10px;
    color: #000;
  }

  .web-order {
    font-size: 22px;
  }

  /* ===================== RATING ===================== */

  .home-rating {
    gap: 25px;
  }

  .products-info {
    display: flex;
    justify-content: flex-start;
    gap: 13px;
  }
}
